* {
    margin: 0;
    padding: 0;
}

#main-page {
    background-image: url("image/background.jpg");
    width: 100vw;
    height: 100vh;


}

.main-part {

    /* background: linear-gradient(-270deg,45deg, black, transparent); */
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));

    width: 100vw;
    height: 100vh;

}

.logo {
    color: red;
    display: flex;
    font-size: 60px;
    margin-left: 100px;
    font-weight: 500;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

#sel {
    color: white;
    display: flex;
    position: absolute;
    margin-left: 75vw;
    margin-top: -75px;
    width: 89px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.425);
}

#btn {
    display: flex;
    width: 75px;
    height: 35px;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: -75px;
    margin-left: 83vw;
    text-decoration: none;
    font-weight: 600;
}

a #btn {
    text-decoration: none;
}

.text-price {
    justify-content: center;
    display: flex;
    font-size: 50px;
    font-weight: bold;
    word-spacing: -3px;
    margin-top: 180px;
}

.modify {
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
    text-align: center;
    font-weight: 300;
}

.join-now {
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
    color: rgba(255, 255, 255, 0.689);
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.detail {
    color: rgb(249, 247, 247);
    font-size: x-large;
}

.start {
    display: flex;
    justify-content: center;
    margin-bottom: 37vh;

}

#mail {
    display: flex;
    width: 25vw;
    height: 6vh;
}

#btn1 {
    width: 10vw;
    height: 7vh;
    background-color: red;
    color: white;

}

#btn1 span {
    font-weight: 500;
    font-size: large;
}

#flans {
    margin: 55px;
    padding: 20px;

}

#rechrage-plane {

    background-color: black;
    position: relative;
}

.plans {
    color: white;
    font-size: 24px;
    margin: 0 166px;
    padding-top: 70px;;
}

.second-plan {
    display: flex;
  
    margin: -66px 0px 0px 150px;
}

.pay {
    background-image: linear-gradient(rgb(108, 31, 65) 0%, rgb(33, 13, 14) 100%);
    height: 200px;
    width: 250px;

    font-weight: 500;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;

}

.bas1 {
    margin: 20px 20px 13px 15px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.box-text {
    font-size: larger;
    color: rgba(255, 255, 255, 0.701);
}

.amount {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;

}

.payout {
    border: 2px solid black;
    color: white;
    margin: 80px 0px 30px 0px;
    display: flex;

}

.now {
    display: flex;
    font-size: 30px;
    margin: 30px 0px -20px 150px;
    font-weight: 500;
    color: white;
}

.cout {
    margin: 20px;
    border-radius: 5px;
    width: 100px;
    height: 37px;
    background-color: rgba(1, 1, 1, 0.539);
    border: 2px solid rgba(255, 255, 255, 0.559);
    color: white;
    /* font-weight: bold; */
    font-size: larger;
}

.pin {
    margin: 24px 115px 36px 125px;
}

.ak {
    background-color: black;
    margin-top: -31px;
}

.top10 {
    display: flex;
    margin: 0 150px;
    scroll-snap-stop: normal;
}
.mobile-game{
    background-color: black;
}
.var{
    color: white;
    font-size: larger;
    margin: 100px 0px 0px 150px;
    font-size: 30px;
    font-weight: 500;
}
.m-g {
    height: 50vh;
    width: 80vw;
    background: linear-gradient(97deg, #45172B 1.27%, #120C1F 75.23%);
    margin: 10vw;
    margin-top: 10px;
    border-radius: 5px;
    color: white;

}
.mobile-img{
   background-image:url("image/mobilegame.png");
    width: 70vw;
    height: 30vh;
    filter: invert(70%);
}

.reasons {
    display: flex;
    background-color: black;
    margin-left: 150px;

}

.discription {
    height: 200px;
    width: 250px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);

    margin: 10px;

    border-radius: 15px;

    color: white;

}